@mixin container($width: $container){
  $width: $width + (2 * $container-side-pad);
  
  .container{
    max-width: $width;
    padding-right: $container-side-pad;
    padding-left: $container-side-pad;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }
}