/*********** STICKY FOOTER(START)  **************/
html,
body,
.App{display: flex;flex-direction: column;}
.App{min-height: 100vh;}
.app-main{flex-grow: 1;}
/*********** STICKY FOOTER(END)  **************/

/*********** Container (START)  **************/
.container {
  max-width: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/*********** Container (end)  **************/

/*********** App (START)  **************/
/** Header */
.app-header {
  padding: 2px 0;
  margin-bottom: 20px;
  background-color: #3c3c3c;
  color: #fff;
  font-weight: 600;
}

/** Footer */
.app-footer {
  background-color: #3c3c3c;
  padding: 10px 0;
}
/*********** App (end)  **************/

/*********** Antd (start)  **************/
/** Table */
.delete-active-row {
  background: #ffd7d7;
}

.edit-active-row{
  background: #c5e6e0;
}

.view-active-row{
  background: #c8d9f1;
}

/** Input */
.input-block:not(:last-of-type){
  margin-bottom: 10px;
}

/** Button */
.action-btn.action-btn__view:hover{
  border-color: #0031ff;
}
.action-btn.action-btn__edit:hover{
  border-color: #009688;
}
.action-btn.action-btn__delete:hover{
  border-color: #ff0000;
}
/*********** Antd (end)  **************/
